main {
    display: flex;
}
section {
    width: 14vw;
    height: 50vw;
    border: black 2px solid;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
p {
    display: flex;
    height: 10vw;
    width: 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    border: red 2px solid;
}

#playerOneMarkerBox {
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
#playerTwoMarkerBox {
    display: flex;
    flex-direction: row; 
    border: black 2px solid;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.playerOneMarker {
    margin: 1px;
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
}
.playerTwoMarker {
    margin: 1px;
    background-color: lightcoral;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
}